main {
  font-family: 'Times New Roman', Times, serif;
  border-radius: 30%;
  background-color: rgba(13, 202, 139, 0.308);
  box-shadow: 1px 1px 40px 10px rgba(13, 202, 139, 0.438);
  padding: 1rem;
  margin-bottom: 2rem;
  animation: flutuar infinite 4000ms ;
}

@keyframes flutuar {
  0%, 100% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 3rem;
    background-color: rgba(13, 202, 139, 0.452);
    box-shadow: 1px 1px 40px 10px rgba(13, 202, 139, 0.548);
  }
}